html, body {
    height: 100%;
}

body {
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#start-div {
  text-align: center;
}

#game-screen {
  z-index: 1;
}

#tetris-panel {
  border: 1px solid black;
  border-collapse: collapse;
  height: 500px;
  width: 250px;
}

#tetris-panel tr td {
  border: 1px solid black;
}

#game-over-screen {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
}

#game-over-div {
  padding: 25px 25px;
  border: 1px dashed black;
  background-color: white;
}

#game-over-div p {
  text-align: center;
}