html, body {
    height: 100%;
}

body {
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#start-div p {
  text-align: center;
}

#game-screen {
  display: none;
}

#tetris-panel {
  border: 1px solid black;
  border-collapse: collapse;
  height: 500px;
  width: 250px;
}

#tetris-panel tr td {
  border: 1px solid black;
}